.v-field__input {
    display: flex;
    font-family: 'Bert Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 4px 0 !important;
}

// .v-field__field .v-field__input {
//     padding-left: 16px;
//     padding-right: 16px;
// }

.v-field__field {
    height: 32px;
}