:root {
  --primary: #39BFBF;
  --disabled: #B6B6B6;
  --success: #00C48C;
  --success-hover: #7DDFC3;
  --info: #0084F4;
  --info-hover: #66B5F8;
  --warning: #FFA26B;
  --warning-hover: #FFC7A6;
  --danger: #FF647C;
  --danger-hover: #FDAFBB;
}

* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  margin: 0;
}

body div[id="app"] {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
list-style: none;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.page-title {
  font-size: 52px;
  font-weight: 700;
}

.container {
  margin: 0 auto;
  padding: 0 130px;
  max-width: 1440px;
  width: 100%;

  @media(max-width:1440px) {
    padding: 0 66px;
    max-width: 1312px;
  }

  @media(max-width: 1024px) {
    padding: 0 34px;
    max-width: 960px;
  }

  @media(max-width: 768px) {
    padding: 0 16px;
    max-width: 732px;
  }

  @media(max-width: 360px) {
    padding: 0 16px;
  }
}
