.postcard {
    width: 275px;
    margin-right: 1%;
    margin-left: 1%;
    margin: 5px 5px 5px 5px;
    border-radius: 5px;

    &-container {
        display: grid;
        max-height: 980px;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        overflow: auto;
        scrollbar-width: 4px;
    }
    &-container::-webkit-scrollbar {
        width: 10px;
        background-color: #f9f9fd;
    }
    &-container::-webkit-scrollbar-thumb {
        background-color: #a3a3a3;
    }
    &-containerline {
        display: flex;
        width: 100%;
    }
    &-image {
        height: 210px;
        border: 1px solid black;
        border-radius: 5px;
    }
    &-title {
    }
    &-subtitle {
        height: 30px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &-counts {
        display: flex;
        justify-content: space-between;
    }
    &-date,
    &-group {
        display: flex;
        flex-direction: row;
    }
    &-date img {
        width: 24px;
        height: 24px;
    }
    &-group img {
        width: 24px;
        height: 24px;
    }
    &-tag {
        width: 100%;
        margin-top: 15px;
        border: 1px solid black;
        font-family: Bert Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 20px;
        text-align: center;
    }
}

.postcard:hover {
    cursor: pointer;
    border: 1px solid black;
}
