@font-face {
    font-family: 'Akrobat';
    src:
        local('Akrobat'),
        url('@app/assets/fonts/Akrobat.woff2') format('woff2');
}

@font-face {
    font-family: 'Bert Sans';
    src: local('Bert Sans'), url('@app/assets/fonts/bert-sans.regular.ttf');
}
