//Стили для формы создания/редактирования отряда/штаба
.form {
    font-family: 'BertSans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #35383f;
    background-color: transparent;

    &__inner-content {
        border-bottom: 1px solid #d9d9d9;
        background-color: #ffffff;
    }

    &__field-group {
        padding: 40px;
        border: 1px solid #b6b6b6;
        border-radius: 10px;
        background-color: #ffffff;

        @media (max-width: 768px) {
            padding: 16px;
        }
    }

    &__field {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        // label {
        //     width: fit-content;
        //     margin-bottom: 8px;
        //     font-size: 16px;
        //     font-weight: 600;
        //     color: #35383f;
        // }

        .form-input input.form__input {
            padding: 8px 44px 8px 20px;
            font-size: 16px;
            line-height: 21px;
            color: rgba(53, 56, 63, 1);
            border: 1px solid #b6b6b6;
            @media (max-width: 360px) {
                font-size: 14px;
            }
        }

        .form-input input[type='date'] {
            padding: 8px 20px;
        }

        // select {
        //     background-image: url('../images/icons/angel-down-form.svg');
        //     background-repeat: no-repeat;
        //     background-position: right 19px center;
        //     appearance: none;
        // }
    }

    &__label {
        font-family: 'Bert Sans';
        width: fit-content;
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 600;
        color: #35383f;
        @media (max-width: 360px) {
            font-size: 14px;
        }
    }

    &__field--commander .v-field__field {
        margin-left: 10px;
    }

    &__input {
        font-family: 'Bert Sans';
        min-height: 40px;
    }

    &__textarea {
        // margin-bottom: 8px;
        font-family: 'Bert Sans';
        padding: 12px 20px;
        width: 100%;
        font-size: 16px;
        line-height: 21px;
        outline: none;
        overflow: hidden;
        text-align: left;
        resize: none;
        border: 1px solid #b6b6b6;
        border-radius: 10px;
        overflow-y: auto;
        color: rgba(53, 56, 63, 1);

        &--mobile {
            @media (max-width: 360px) {
                min-height: 67px;
            }
        }
        @media (max-width: 360px) {
            font-size: 14px;
        }
    }

    &__select {
        font-family: 'Bert Sans';
        margin-bottom: 8px;
        border: 1px solid #b6b6b6;
        border-radius: 10px;
        color: rgba(53, 56, 63, 1);
        // width: 100%;

        &--select {
            margin-right: 0;
            border: 1px solid #b6b6b6;
            margin-bottom: 8px;
        }

        .v-field__input {
            min-height: 40px;
            padding: 8px 20px;
            font-size: 16px;
            line-height: 21px;
            font-weight: 400;
            @media (max-width: 360px) {
                font-size: 14px;
            }
        }
    }

    .v-field__field {
        font-weight: 400;
        letter-spacing: normal;

        input {
            @media (max-width: 360px) {
                padding-right: 15px;
            }
        }
        input::placeholder {
            @media (max-width: 360px) {
                font-size: 14px;
            }
        }
    }

    .v-text-field input.v-field__input {
        padding: 11px 44px 11px 10px;
        min-height: 0;
    }

    // .v-select .dropdown-toggle { //не работает
    //     // .v-menu__content {
    //     border: 1px solid #b6b6b6;
    //     border-radius: 10px;
    // }

    &__select-item {
        width: calc(100% - 40px);
        margin: 0 auto;
    }

    &__select-item:not(:last-child) {
        //не отрабатывает :last-child
        border-bottom: 1px solid #b6b6b6;
        // margin-bottom: 10px;
    }

    &__counter {
        font-size: 14px;
        line-height: 18.5px;
        color: #939393;
    }

    &__field-search {
        border: 1px solid #b6b6b6;
        border-radius: 10px;
        height: 40px;
        line-height: 21px;
        font-weight: 400;

        .v-field__field input {
            padding: 8px 20px 8px 10px;
        }
        @media (max-width: 360px) {
            font-size: 14px;
        }
    }

    &__footnote {
        margin: 16px 0 0;
        font-size: 14px;
        line-height: 18.5px;
        color: #939393;
    }

    &__button-group.v-card-actions {
        // display: flex;
        // align-items: center;
        justify-content: center;
        margin: 40px 0 60px;
        padding: 0;
    }

    // &__photo-wrapper {
    //     display: grid;
    //     grid-template-columns: 1fr 1fr 1fr 1fr;
    //     column-gap: 20px;
    //     height: 347px;
    // }

    // .avatar-preview.my_photo__plug img {
    //     height: 347px;
    // }

    &__error {
        position: absolute;
        right: 0;
        bottom: -15px;
        color: red;

        &--name {
            bottom: 0;
        }

        &--commander {
            bottom: -23px;

            @media (max-width: 768px) {
                bottom: -20px;
            }
        }

        &--members {
            bottom: calc(100% - 24px);
        }

        &--title {
            top: 0;
            bottom: 0;
            right: 50px;
            width: 43%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 20px;
            line-height: 24px;

            @media (max-width: 768px) {
                font-size: 16px;
                line-height: 21px;
                right: 30px;
            }
            @media (max-width: 360px) {
                font-size: 14px;
            }
        }

        &--date {
            top: -20px;
        }
    }

    .valid-red {
        color: #db0000;
    }

    .user-metric__avatar-wrapper {
        align-self: flex-start;
    }

    .v-field__outline {
        display: none;
    }

    .v-expansion-panel {
        border-bottom: 1px solid #d9d9d9;

        &__shadow {
            box-shadow: none;
        }

        &--active,
        &--after-active {
            margin: 0;
        }

        &--active:not(:first-child) {
            margin: 0;
        }

        &--active + .v-expansion-panel {
            margin: 0;
        }

        // .v-field__outline {
        //         display: flex;
        //         border-radius: 10px;
        //     }

        .v-expansion-panel-title {
            padding: 16px 0;
            max-height: 60px;
            font-family: 'Akrobat';
            font-size: 24px;
            line-height: 28px;
            font-weight: 600;
            background-color: transparent;

            &--active {
                margin-bottom: 40px;
            }

            &__overlay {
                display: none;
            }
        }

        // .v-expansion-panel--active
        //     > .v-expansion-panel-title--active.button-height {
        //     min-height: auto;
        // }

        // $expansion-panel-active-title-min-height 64px

        // .v-expansion-panel-title.v-expansion-panel-title--active {
        //     max-height: 60px;
        // }

        .v-expansion-panel-text__wrapper {
            padding: 0;
        }
    }

    .v-autocomplete__selection {
        width: 100%;
    }
}
