.form__input {
    width: 340px;

    @media (max-width: 1024px) {
        width: 300px;
    }

    @media (max-width: 568px) {
        width: 340px;
    }

    @media (max-width: 400px) {
        width: 300px;
    }
}

.form__input-add-link {
    width: 720px;

    @media (max-width: 1024px) {
        width: 100%;
    }
}
#form__field-members-name {
    gap: 24px;
    justify-content: flex-start;
    @media (max-width: 679px) {
        gap: 0;
    }
}