.report {
    &__field-group {
        display: grid;
        grid-template-columns: minmax(24.13%, 30.91%) minmax(59.13%, 65.46%);
        gap: 16px 40px;
        padding: 40px;
        background: #F3F4F5;
        border: none;
        border-radius: 10px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        @media (max-width: 360px) {
            padding: 16px;
        }
      }
    
    &__fieldset {
        &--left-block {
            @media (max-width: 768px) {
                max-width: 290px;
            }
        }

        // &--right-block {
            
        // }

        &--comment {
            margin-bottom: 17px;
            grid-column: -1 / 1;

            @media (max-width: 360px) {
                margin-bottom: 16px;
            }
        }
    }

    &__file-input {
        width: 65.45%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }
    
    &__label {
        display: block;
        line-height: 21px;
        letter-spacing: 0.78px;
        color: #000000;

        @media (max-width: 360px) {
            font-size: 14px;
            line-height: 18.5px;
        }

        .valid-red {
            font-weight: 600;
            font-size: 14px;
            line-height: 18.5px;

            @media (max-width: 360px) {
                font-size: 12px;
            }
        }
    }

    //Вынести в отдельный компонент?-----------------------------
    &__file-box {
        margin-top: 16px;
        max-width: 720px;
        width: 100%;
        padding: 1px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Bert Sans";
        font-weight: 400;
        line-height: 21px;
    }
    &__file-name {
        // min-width: 220px;
        display: flex;
        align-items: center;
        column-gap: 12px;
    }
    &__file-size {
        width: 50px;
        color: #6d6d6d;
        opacity: 0.8;
        position: relative;
      
        &::before {
            position: absolute;
            content: "";
            width: 1px;
            height: 15px;
            background-color: #6d6d6d;
            opacity: 0.8;
            top: 3px;
            left: -10px;
        }
    }
    &__button-delete-file {
        color: #1f7cc0;
    }
    //--------------------------------------------------------------
}