.report-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #FFFFFF;
  border: 1px solid #B6B6B6;
  border-radius: 10px;
  text-align: center;
  font-family: Akrobat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  overflow: hidden;

  @media (max-width: 620px) {
    grid-template-columns: 1fr;
  }

  &__block {
    display: flex;
    flex-direction: column;

    @media (min-width: 621px) {
      &--center {
        border-right: 1px solid #B6B6B6;
        border-left: 1px solid #B6B6B6;
      }
    }

    @media (max-width: 620px) {
      &:not(:last-child) {
        .report-table__td {
          border-bottom: 1px solid #B6B6B6;
        }
      }
    }
  }

  &__th {
    max-height: 40px;
    padding: 10px;
    color: #000000;
    border-bottom: 1px solid #B6B6B6;
  }
  
  &__td {
    max-height: 40px;
    height: 100%;
    padding: 10px;
    color: #8E8E93;
    background-color: #f9fafb;

    &--bgtransparent {
      background-color: transparent;
    }

    &--bgcolor {
        background-color: #f9fafb;
    }
  
    .form-input__report {
      border: none;
    }
  }
}