//Общий класс для всех заголовков h2
.subtitle {
    font-family: 'Akrobat';
    font-size: 32px;
    line-height: 38.5px;
    font-weight: 600;
    color: #35383f;
    margin-bottom: 40px;

    &--link {
        margin-bottom: 80px;
        text-decoration: underline;
    }
}
