// классы для текстов страниц
.text {
    font-family: 'Bert Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #35383f;

    &--organizer {
        font-size: 20px;
        margin: 16px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        line-height: 26px;
        color: rgba(53, 56, 63, 1);
    }

    &--status {
        font-size: 16px;
        margin-bottom: 0;
        color: rgba(103, 103, 103, 1);
        font-family: Bert Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: -0.03em;
        text-align: center;
    }

    &--participant_name {
        font-size: 28px;
        font-family: Bert Sans;
        font-size: 28px;
        font-weight: 400;
        line-height: 37px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 16px;
    }

    &--event_title {
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        padding: 12px 0 16px 0;
        margin-bottom: 20px;
    }

    &--event_info {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 15px;
    }
}
